.App {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.logoimg {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.css-1wtgei3-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-1wtgei3-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: black !important;
}
.navItem {
  color: #fff;
  text-decoration: none;
}
.navItem:hover,
.navItemActive {
  color: #70efde;
}
.maxHeight70 {
  max-height: 70px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.backgoundHover:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.datePicker {
  box-sizing: border-box;
  padding-top: 16.5px;
  padding-bottom: 16.5px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 3px;
  border: 1px solid rgb(192, 191, 191);
  color: rgb(100, 100, 100);
}
